<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.wulinzeng.dao.DesignDao">
    <!-- 目的：为dao接口方法提供sql语句配置 -->
    <select id="findall" resultType="Design">
        select * from design
    </select>

    <select id="findOne" parameterType="int" resultType="Design">
        SELECT * FROM design WHERE id=#{id}
    </select>

    <update id="add" parameterType="Design" >
        insert into design(id,projectname,personname,worktime) values(NULL,#{projectname},#{personname},#{worktime})
    </update>

    <update id="edit" parameterType="Design" >
        UPDATE design SET projectname=#{projectname}, personname=#{personname}, worktime=#{worktime} WHERE id=#{id}
    </update>

    <update id="delete" parameterType="int" >
        delete from design where id=#{id}
    </update>

    <delete id="clean">
        TRUNCATE design
    </delete>

</mapper>